<div class="card meetings cf">
	<h3>Dnevno stanje racuna</h3>
	<button type="button" class="btn btn-default"
	ng-click="new()">Dodaj</button>
	<table class="table table-striped table-bordered table-condensed table-hover">
		<tr>
			<td>dnevnoStanjeRacunaId</td>
			<td>Broj Racuna</td>
			<td>datumPrometa</td>
			<td>prethodnoStanje</td>
			<td>prometUKorist</td>
			<td>prometNaTeret</td>
			<td>novoStanje</td>
			<td>Opcija</td>
			<th ng-if="isZoomActive('/dnevnoStanjeRacuna-list')">Pick up</th>
		</tr>
		<tr ng-repeat="dnevnoStanjeRacuna in dnevnaStanjaRacuna track by $index ">
			
			<td>{{dnevnoStanjeRacuna.dnevnoStanjeRacunaId}}</td>
			<td>{{dnevnoStanjeRacuna.racuni.brojRacuna}}</td>
			<td>{{dnevnoStanjeRacuna.datumPrometa}}</td>
			<td>{{dnevnoStanjeRacuna.prethodnoStanje}}</td>
			<td>{{dnevnoStanjeRacuna.prometUKorist}}</td>
			<td>{{dnevnoStanjeRacuna.prometNaTeret}}</td>
			<td>{{dnevnoStanjeRacuna.novoStanje}}</td>
			
			<td><button type="button" class="btn btn-default"
				ng-click="remove(dnevnoStanjeRacuna)">Obrisi</button>
				<button type="button" class="btn btn-default"
				ng-click="edit(dnevnoStanjeRacuna)">Izmeni</button></td>
			<td ng-if="isZoomActive('/dnevnoStanjeRacuna-list')">
				<button ng-click="genericPickUp(dnevnoStanjeRacuna,'dnevnoStanjeRacuna')" type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"  ></span>
				</button>
			</td>
			</tr>
		</table>
	</div>