<div class="card meetings cf">
	<button type="button" class="btn btn-default"
					ng-click="new()">Dodaj</button>
	
	<table
		class="table">
		<tr>
			<th>Drzava</th>
		</tr>
		<tr ng-repeat="drzava in drzave track by $index ">
			<td>{{drzava.nazivDrzave}}</td>
			<td><button type="button" class="btn btn-default"
					ng-click="remove(drzava)">Obrisi</button></td>
			<td><button type="button" class="btn btn-default"
					ng-click="edit(drzava)">Izmeni</button></td>
			<td><button type="button" class="btn btn-default"
					ng-click="listValuta(drzava)">Valute</button></td>

		</tr>
	</table>

</div>