<div class="card meetings cf">

	<div class="textintro">
		<h1>{{title}}</h1>
		
	</div>

	<form class="formgroup addmeeting cf"
		name="myform"
		ng-submit="save()"
		novalidate>

		<div class="inputwrapper">
		<!--Ovde dodaj sve inpute za drzavu -->


			<!--Naziv drzave -->
			<input type="text" name="naziv"
			placeholder="Naziv drzave"
			ng-model="drzava.nazivDrzave" ng-required="true">

			<!--Valuta -->

			<!--Naseljeno mesto -->
		

		</div>

		<button type="submit" class="btn btn-default" 
			ng-disabled="myform.$invalid">{{buttonText}}</button>
	</form>
</div>