<div class="card meetings cf">
	<h3>Kurs u valuti</h3>

	<button type="button" class="btn btn-default"
	ng-click="new()">Dodaj</button>

	<table class="table table-striped table-bordered table-condensed table-hover">
		<tr>
			<th>Sifra</th>
			<th>Valuta osnovna</th>
			<th>Valuta prema</th>
			<th>Kupovni</th>
			<th>Srednji</th>
			<th>Prodajni</th>
			<th>Opcija</th>
			<th ng-if="isZoomActive('/kursUValuti-list')">Pick up</th>
			
			
		</tr>
		<tr ng-repeat="kursUValuti in kurseviUValuti track by $index ">
			<td>{{kursUValuti.kursUValutiId}}</td>
			<td>{{kursUValuti.valutaOsnovna.naziv}}</td>
			<td>{{kursUValuti.valutaPrema.naziv}}</td>
			<td>{{kursUValuti.kupovni}}</td>
			<td>{{kursUValuti.srednji}}</td>
			<td>{{kursUValuti.prodajni}}</td>
			
			<td><button type="button" class="btn btn-default"
				ng-click="remove(kursUValuti)">Obrisi</button>
				<button type="button" class="btn btn-default"
				ng-click="edit(kursUValuti)">Izmeni</button></td>

				<td ng-if="isZoomActive('/kursUValuti-list')">
					<button ng-click="genericPickUp(kursUValuti,'kursUValuti')" type="button" class="btn btn-default" aria-label="Left Align">
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"  ></span>
					</button>
				</td>

			</tr>
		</table>

	</div>