<div class="card meetings cf">
	<h3>Kursna Lista</h3>

	<button type="button" class="btn btn-default"
	ng-click="new()">Dodaj</button>

	<table class="table table-striped table-bordered table-condensed table-hover">
		<tr>
			
			<td>kursnaListaId</td>
			<td>datum</td>
			<td>brojKursneListe</td>
			<td>primenjujeSeOd</td>
			<td>Opcija</td>
			<th ng-if="isZoomActive('/kursnaLista-list')">Pick up</th>

		</tr>
		<tr ng-repeat="kursnaLista in kursneListe track by $index ">
			
			<td>{{kursnaLista.kursnaListaId}}</td>
			<td>{{kursnaLista.datum}}</td>
			<td>{{kursnaLista.brojKursneListe}}</td>
			<td>{{kursnaLista.primenjujeSeOd}}</td>




			
			<td><button type="button" class="btn btn-default"
				ng-click="remove(kursnaLista)">Obrisi</button>
				<button type="button" class="btn btn-default"
				ng-click="edit(kursnaLista)">Izmeni</button></td>

				<td ng-if="isZoomActive('/kursnaLista-list')">
				<button ng-click="genericPickUp(kursnaLista,'kursnaLista')" type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"  ></span>
				</button>
			</td>
			</tr>
		</table>

	</div>