<!-- <section class="card login"> -->
<!--   <form name="myform" ng-submit="login()" -->
<!--     novalidate> -->

<!--     <div class="textintro"> -->
<!--       <h1>Banka</h1> -->
<!--       <p>Molimo vas da se ulogujte.</p> -->
<!--       <p ng-show="message" class="message">{{message}}</p> -->
<!--     </div> -->

<!--     <fieldset> -->
<!--       <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true"> -->
<!--       <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Must be a valid email</p> -->

<!--       <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true"> -->
<!--       <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">Password is required</p> -->

<!--     </fieldset> -->

<!--     <button type="submit" class="btn" ng-disabled="myform.password.$invalid">Login</button> -->
<!--     <p>or <a ng-href="#/register">register</a></p> -->
<!--   </form> -->
<!-- </section> -->
<div class="col-md-4"></div>
<div class="col-md-4">
	<form>
		<div class="form-group">
			<label >Username :</label>
			<input class="form-control" ng-model="zaposleni.email"></input>
		</div>
		<div class="form-group">
			<label>Password :</label>
			<input type="password" class="form-control" ng-model="zaposleni.password"></input>
		</div>
		<div ng-show="pogresan" class="alert alert-danger" role="alert">Pogresan username ili password</div>
		<div class="form-group">
			<button class="btn btn-default" ng-click="login()">Login</button>
		</div>
	</form>
</div>
<div class="col-md-4"></div>