<div>
	<form>
		<div class="form-group">
			<label >Uplatilac:</label>
			<input class="form-control" ng-model="gradjanin.email"></input>
		</div>
		<div class="form-group">
			<label>Svrha uplate:</label>
			<input class="form-control" ng-model="gradjanin.password"></input>
		</div>
		<div class="form-group">
			<label>Primalac:</label>
			<input class="form-control" ng-model="gradjanin.password"></input>
		</div>
		<div class="form-group">
			<label>Mesto i datum:</label>
			<input class="form-control" ng-model="gradjanin.password"></input>
		</div>
		<div class="form-group">
			<label>Iznos:</label>
			<input class="form-control" ng-model="gradjanin.password"></input>
		</div>
		<div class="form-group">
			<label>Svrha uplate:</label>
			<input class="form-control" ng-model="gradjanin.password"></input>
		</div>
		<div class="form-group">
			<label>Valuta:</label>
			<input class="form-control" ng-model="gradjanin.password"></input>
		</div>
		<div class="form-group">
			<label>Racun primaoca:</label>
			<input class="form-control" ng-model="gradjanin.password"></input>
		</div>
		<div class="form-group">
			<label>Model:</label>
			<input class="form-control" ng-model="gradjanin.password"></input>
		</div>
		<div class="form-group">
			<label>Poziv na broj:</label>
			<input class="form-control" ng-model="gradjanin.password"></input>
		</div>
		
		<div class="form-group">
			<button class="btn btn-default" ng-click="login()">Uplata</button>
		</div>
	</form>
</div>