<div class="card meetings cf">
	<h3>Pravna lica</h3>

	<button type="button" class="btn btn-default"
	ng-click="new()">Dodaj</button>

	<table class="table table-striped table-bordered table-condensed table-hover">
		<tr>
<td>klijentId</td>
<td>telefon</td>
<td>email</td>
<td>adresa</td>
<td>naziv</td>
<td>maticniBroj</td>
<td>pib</td>
<td>sifraPretezneDelatnosti</td>
<td>klasifikacija</td>
<td>Opcija</td>
<th ng-if="isZoomActive('/pravnoLice-list')">Pick up</th>
			

		</tr>
		<tr ng-repeat="pravnoLice in pravnaLica track by $index ">
			
			<td>{{pravnoLice.klijentId}}</td>
			<td>{{pravnoLice.telefon}}</td>
			<td>{{pravnoLice.email}}</td>
			<td>{{pravnoLice.adresa}}</td>
			<td>{{pravnoLice.naziv}}</td>
			<td>{{pravnoLice.maticniBroj}}</td>
			<td>{{pravnoLice.pib}}</td>
			<td>{{pravnoLice.sifraPretezneDelatnosti}}</td>
			<td>{{pravnoLice.klasifikacija}}</td>

			
			<td><button type="button" class="btn btn-default"
				ng-click="remove(pravnoLice)">Obrisi</button>
				<button type="button" class="btn btn-default"
				ng-click="edit(pravnoLice)">Izmeni</button></td>

<td ng-if="isZoomActive('/pravnoLice-list')">
				<button ng-click="genericPickUp(pravnoLice,'pravnoLice')" type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"  ></span>
				</button>
			</td>


			</tr>
		</table>

	</div>