<div class="card meetings cf">
	<h3>Racuni</h3>

	<button type="button" class="btn btn-default"
					ng-click="new()">Dodaj</button>

	<table class="table table-striped table-bordered table-condensed table-hover">
		<tr>
			
			<td>racuniId</td>
			<td>Valuta</td>
			<td>brojRacuna</td>
			<td>datumOtvaranja</td>
			<td>vazeci</td>
			
			<th>Opcija</th>
			<th ng-if="isZoomActive('/racuni-list')">Pick up</th>
		</tr>
		<tr ng-repeat="racuni in racunii track by $index ">

			<td>{{racuni.racuniId}}</td>
			<td>{{racuni.valuta.naziv}}</td>
			<td>{{racuni.brojRacuna}}</td>
			<td>{{racuni.datumOtvaranja}}</td>
			<td>{{racuni.vazeci}}</td>
			
			
			<td><button type="button" class="btn btn-default"
					ng-click="remove(racuni)">Obrisi</button>
			<button type="button" class="btn btn-default"
					ng-click="edit(racuni)">Izmeni</button>
					<button type="button" class="btn btn-default"
					ng-click="exportNalog(racuni)">Export Nalog</button></td>


			<td ng-if="isZoomActive('/racuni-list')">
				<button ng-click="genericPickUp(racuni,'racuni')" type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"  ></span>
				</button>
			</td>
		</tr>
	</table>

</div>