<div class="col-md-3"></div>
<div class="col-md-6">

	<div class="textintro">
		<h1>{{title}}</h1>

	</div>

	<form ng-submit="save()" name="myform" novalidate>

		<div class="form-group">
			<label>datumUkidanja</label>
			<div class="input-group">
			<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openDatepicker($event, 'dateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
				<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="ukidanje.datumUkidanja" is-open="dateOpened" close-text="Close" />
				
			</div>
		</div>

		<div class="form-group">
			<label for="naziv">sredstvaSePrenoseNaRacun</label>
			<input type="text" class="form-control" id="naziv" ng-model="ukidanje.sredstvaSePrenoseNaRacun" ng-required="true">
		</div>
		
		

		<div class="form-group">
			<label for="racuniId">Sifra racuna</label>
			<div class="form-inline">
					<input ng-click="errorMessage = undefined" type="text" class="form-control" id="racuniId" ng-model="ukidanje.racuni.racuniId" ng-required="true">
					
					<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="genericZoom(ukidanje,'ukidanje','/racuni-list','/ukidanje/','ukidanjeId')">
						<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
					</button>
			</div>
		</div>
		<div class="alert alert-danger" role="alert" ng-show="errorMessage">{{errorMessage}}</div>

		<button type="submit" class="btn btn-default" ng-disabled="myform.$invalid">{{buttonText}}</button>
	</form>
</div>
<div class="col-md-3"></div>