<div class="card meetings cf">
	<h3>Ukidanja</h3>

	<button type="button" class="btn btn-default"
					ng-click="new()">Dodaj</button>

	<table class="table table-striped table-bordered table-condensed table-hover">
		<tr>
			<th>Sifra</th>
			<th>Datum</th>
			<th>Sredstva se prenose na racun</th>
			<th>Racun</th>
			<th>Opcija</th>			
			<th ng-if="isZoomActive('/ukidanje-list')">Pick up</th>
		</tr>
		<tr ng-repeat="ukidanje in ukidanja track by $index ">
			<td>{{ukidanje.ukidanjeId}}</td>
			<td>{{ukidanje.datumUkidanja}}</td>
			<td>{{ukidanje.sredstvaSePrenoseNaRacun}}</td>
			<td>{{ukidanje.racuni.brojRacuna}}</td>
			
			
			<td><button type="button" class="btn btn-default"
					ng-click="remove(ukidanje)">Obrisi</button>
			<button type="button" class="btn btn-default"
					ng-click="edit(ukidanje)">Izmeni</button></td>


			<td ng-if="isZoomActive('/ukidanje-list')">
				<button ng-click="genericPickUp(ukidanje,'ukidanje')" type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"  ></span>
				</button>
			</td>
		</tr>
	</table>

</div>