<div class="card meetings cf">
	<h3>Valute</h3>

	<button type="button" class="btn btn-default"
					ng-click="new()">Dodaj</button>

	<table class="table table-striped table-bordered table-condensed table-hover">
		<tr>
			<th>Sifra</th>
			<th>Naziv</th>
			<th>Domicilna</th>
			<th>Zvanicna Sifra</th>
			<th>Drzava</th>
			<th>Opcija</th>
			<th ng-if="isZoomActive('/valuta-list')">Pick up</th>
		</tr>
		<tr ng-repeat="valuta in valute track by $index ">
			<td>{{valuta.valutaId}}</td>
			<td>{{valuta.naziv}}</td>
			<td>{{valuta.domicilna}}</td>
			<td>{{valuta.zvanicnaSifra}}</td>
			<td>{{valuta.drzava.nazivDrzave}}</td>
			
			<td><button type="button" class="btn btn-default"
					ng-click="remove(valuta)">Obrisi</button>
			<button type="button" class="btn btn-default"
					ng-click="edit(valuta)">Izmeni</button></td>


			<td ng-if="isZoomActive('/valuta-list')">
				<button ng-click="genericPickUp(valuta,'valuta')" type="button" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"  ></span>
				</button>
			</td>
		</tr>
	</table>

</div>